[submodule "vendor/pp-ne-oculus-server"]
	path = vendor/pp-ne-oculus-server
	url = https://github.com/stefan-urban/oculus-server.git
[submodule "vendor/edvstools"]
	path = vendor/edvstools
	url = https://github.com/Danvil/edvstools.git
