[submodule "vendor/edvstools"]
	path = vendor/edvstools
	url = https://github.com/Danvil/edvstools.git
[submodule "vendor/joystick"]
	path = vendor/joystick
	url = https://github.com/stefan-urban/joystick.git
[submodule "vendor/dispatcher"]
	path = vendor/dispatcher
	url = https://github.com/stefan-urban/dispatcher.git
[submodule "vendor/oculus-server"]
	path = vendor/oculus-server
	url = https://github.com/stefan-urban/oculus-server.git
